/*span.tableId{
	text-align: center!important;
}*/
div.title{
	width: 100%;
	height: 58px;
	overflow: hidden;
	background: white;
	margin-bottom: 5px;
	border-bottom: 1px solid #eee;
}
div.title h2{
	margin: 0 auto;
	min-width: 10px;
	font-size: 1.1vw;
	line-height: 58px;
	float: left;
}
/*不知道什么地方的样式，暂时注释掉*/
/*.daochu{
	float: right;
	margin-top: 10px;
}*/

/*div.exportExcel{
	background: pink;
	width: 250px;
}
div.exportExcel input{
	float: left;
	margin:0 auto;
	width: 160px;
	height: 30px;
	margin-right: 10px;
	line-height: 1;
    text-align: center;
    outline: none;
    font-size: 14px;
}*/
/*div.exportExcel input:nth-child(2){
	color: gray;
}
div.exportExcel input:nth-child(3){
	width: 80px;
	margin-right: 0;
}*/
/*返回按钮*/
div.title div.back{
	margin-top:10px;
	float: right;
	padding:0 15px; 
    height: 30px;
    line-height: 30px;
    background: #03A9F4;
    border: none;
    color: #fff !important;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
div.title div.back:hover{
    background: #2196F3;
}
/*导出excel样式*/
div.exportExcel{
    width: auto;
    margin-top: 10px;
    overflow: hidden;
    margin-top: 10px;
}
div.exportExcel input{
	float: right;
	width: 100px;
	margin-right:calc(50% - 50px);
    height: 30px;
    background: #03A9F4;
    border: none;
    color: #fff !important;
    border-radius: 5px;
    cursor: pointer;
}
div.exportExcel input:hover{
    background: #2196F3;
}
/*表格中的样式*/
/*table.tables{
	min-height: 200px;
	margin:0 auto;
	margin-top:20px;
}
table tbody tr:nth-child(1)>td{
	text-align: left;
	font-weight: 600;
	height: 30px;
}
table tbody tr>td:nth-child(1){
	text-align: center;
}*/
/*对话框的样式-----Modal*/
div.previewReport div.previewReportModal{
	
}
div.previewReport div.previewReportModal button.ant-modal-close span.ant-modal-close-x{
	width: 40px;
	height: 40px;
	line-height: 40px;
} 
div.previewReport div.previewReportModal div.ant-modal-content div.ant-modal-header{
	padding: 8px 12px;
}
input.named{
	width: 250px;
	border: 1px solid #ddd;
    border-radius: 3px;
    height: 35px;
	padding-left: 10px;
	margin-left: 20px;
}
/*Table表格样式----------antd版本*/
.tables{
	width: 90%;
	margin: 0 auto;
	margin-top:20px;
}
.ant-table table{
	border: 1px solid #eee;
}
.ant-table-thead > tr > th, .ant-table-tbody > tr > td{
	padding: 10px 10px !important;
}
.ant-table-thead > tr, .ant-table-tbody > tr{
	height: 35px;
	line-height: 35px;
}
div.tables .ant-table-thead > tr > th, .ant-table-tbody > tr > td{
	padding:5px!important;
}
.ant-table-bordered .ant-table-tbody > tr > td:nth-child(1){
	text-align: center;
}
.ant-table-thead > tr > th{
	background: #eeeeee !important;
	text-align: center !important;
}
.tablePart tr:nth-child(2n){
	background: #fafafa !important;
}
.ant-table-thead > tr.ant-table-row-hover > td, .ant-table-tbody > tr.ant-table-row-hover > td, .ant-table-thead > tr:hover > td, .ant-table-tbody > tr:hover > td{
	background: #f0f2f5;
}
.ant-table-thead > tr, .ant-table-tbody > tr{
	text-align: center;
}
/*tables表格样式----------原生版本*/
table.tables{
	width: 90%;
	margin: 0 auto;
	margin-top:20px;
	border: 1px solid #e8e8e8;
}
table.tables thead > tr, table.tables tbody > tr{
	height: 35px;
	line-height: 35px;
	text-align: center;
	display: table;
	table-layout: fixed;
}
table.tables thead > tr > th, table.tables tbody > tr > td{
	padding:5px!important;
    word-break: break-word;
}
/*添加 头部圆角*/
table.tables thead > tr:first-child > th:first-child {
    border-top-left-radius: 4px;
}
table.tables thead > tr:first-child > th:last-child {
    border-top-right-radius: 4px;
}
/*头部thead*/
table.tables thead > tr > th {
    -webkit-transition: background .3s ease;
    -o-transition: background .3s ease;
    transition: background .3s ease;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    border-bottom: 1px solid #e8e8e8;
    background: #eeeeee;
	text-align: center;
	border-right: 1px solid #e8e8e8;/*添加*/
}
/*鼠标划过状态*/
table.tables thead > tr:hover > td, table.tables tbody > tr:hover > td{
    background: #e6f7ff;
}
/*tbody添加滚动条*/
table.tables thead,table.tables tbody{
	width: 100%;
}
table.tables thead>tr,table.tables tbody>tr{
	width: 100%;
}
table.tables tbody{
	display:inline-block;
	width: 100%;
	max-height: 450px;
	overflow-y: auto;
}
/*滚动条整体样式*/  /*高宽分别对应横竖滚动条的尺寸*/
table.tables tbody::-webkit-scrollbar {
			        width: 10px;     
			        height: 1px;
			}
/*滚动条里面小方块*/
table.tables tbody::-webkit-scrollbar-thumb {
			        border-radius: 10px;
			         -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
			        background: #535353;
			}
/*滚动条里面轨道*/
table.tables tbody::-webkit-scrollbar-track {
			        -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
			        border-radius: 10px;
			        background: #EDEDED;
			}
/*添加返回按钮*/
