/*公共分页----设备管理，列表管理，能源查询结果*/
body #app .el-pagination.is-background .btn-next, 
body #app .el-pagination.is-background .btn-prev, 
body #app .el-pagination.is-background .el-pager li{
                border:1px solid #d9d9d9;
                background-color: #fff;
                border-radius: 4px;
        }
body #app div.el-pagination.is-background .el-pager li:not(.disabled):hover{
            color: #409EFF;
            border-color: #409EFF;
        }
body #app .el-pagination.is-background .el-pager li:not(.disabled).active{
            color: #409EFF;
            border-color: #409EFF;
            background-color: #fff;
        }